.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.movie-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.movie-wrapper{
  width: 500px;
  background-color: antiquewhite;
  color: black;
}
.movie-search {
  height: 48px;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 000px;
  width: 475px;
  font-weight: bold;
}
.movie-title{
  height: 60px;
  margin-top:26px;
  font-weight: bold;
  font-size: 26px;
}
.movie-date{
  font-weight: 200;
  font-style: italic;
}
.movie-rate{
  color: red;
}